.card, .image-container, img {
  height: 20vh;
}
.jumbotron {
  font-size: 28px;
  background-image: url("https://cdn4.vectorstock.com/i/1000x1000/55/33/milk-chocolate-package-blank-for-advertizing-vector-16855533.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -160px;
  margin: 0px;
  color: #603022
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:34px;
  width:100%;
  color: #603022;
  font-size: 12px;
  text-align: center;
  background: #e7e8ec;
  border-top: 8px solid #603022
}
a, li {
  color: #603022
}
.cube {
  animation: cube 15s linear infinite;
  height: 100px;
}
@keyframes cube{
  0%{
    transform: translate3d(-900px, 0, 0);
  }
  100%{
    transform: translate3d(1500px, 0, 0);
  }
}